$breakpoint-tablet: "only screen and (min-width: 768px)";
$breakpoint-desktop: "only screen and (min-width: 1224px)";

$font-base-sans: 'Roboto';
$font-base-serif: 'Slabo', "sans-serif";
$royalblue: #05386B;
$darkgreen: #379683;
$green: #5CDB95;
$lightgreen: #8EE4AF;
$lightgreen-alpha:(rgba(142, 228, 175, 0.3));
$light: #EDF5E1;

$bold: 700;