@keyframes slider-down {
  0% {margin-top: 0;}
  100% {margin-top: $animation-slide;}
}

@keyframes mobile-btn-fade-in {
  0% {background-color: $lightblue;}
  100% {background-color: $blue;}
}

@keyframes desktop-btn-fade-in {
  0% {background-color: $royalblue; color: white;}
  100% {background-color: $lightblue; color: black;}
}

@keyframes moving-arrow {
  0% {transform:translateY(-4px)};
  25% {transform:translateY(0px)};
  50% {transform:translateY(4px)};
  75% {transform:translateY(0px)};
  100% {transform:translateY(-4px)};
}

@keyframes fade-in-text {
  0% {opacity: 0;}
  100%{opacity: 1;}
}


* {
  box-sizing: border-box;
}

.navbar {
  position: fixed;
  width: 100%;
  background-color: $royalblue;
  z-index: 10;
  padding: .5rem 0;
  transform: translateY(-$animation-slide); 
  animation: slider-down .5s ease-in forwards;
  
  &-brand {
    color: white;
    float: left;
    margin-left: 1rem;
    &--text {
      margin: 0;
      font-size: 2rem;
      
    }
  }
  
  &-content {
    &-mobile {
      color: $white;
      float: right;
      font-size: 2.4rem;
/*      margin-top: .4rem;*/
      margin-right: .8rem;
      margin-top: -.1rem;
    }
    
    &-desktop {
      position: relative;
      display: none;
      &-button {
        float: right;
        padding: .5rem .8rem;
        text-decoration: none;
        color: white;
        &:hover {
          animation: desktop-btn-fade-in .5s ease-in forwards; 
        }
      }
    }
  }
} 

.mobile-list{
  display: none;
  position:fixed;
  width: 100%;
  text-align: center;
  list-style-type: none;
  background-color: $lightblue;
  &--element{ 
    padding: .8rem 0;
    min-width: 32.4%;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: $royalblue;
    &:first-child {
      border: none;
    }
    &:hover {
      animation: mobile-btn-fade-in .8s ease-out forwards;
    }
  }
}

.header {
  &-wrapper {
    background-image: url("/images/seigaiha.png");

    height: 100%;
    min-width: 100%;
    
    text-align: center;
    
  }
  &-content {
    max-width: 30vh;
    transform: translate(0, 20vh);
    display: inline-block;
    &--title{
      font-size: 1.8rem;
      color: $royalblue;
      font-weight: $bold;
    }
  }
  &-footer {
    position: absolute;
    bottom: 0;
    background-color: $lightblue;
    padding: 5vh 1vh;
    color: $royalblue;
    text-align: center;
    border-bottom: $container-border;
    width: 100%;
    

    &--text {
      font-weight: $bold;
      font-size: 1.2rem;
      display: inline-block;
    }
    
    &--logo {
      margin-top: 2rem;
    }
    
  }
}

.about {
  background: url("/images/notepad--large-min.jpg") no-repeat center center;
  background-size: cover;
  border-bottom: $container-border;
  color: $royalblue;
  font-size: 1rem;
  padding: 5rem 0 4rem 0;
  &-wrapper{
    margin: 0 auto;
    text-align: center;
  }
  &-content{
    background-color: rgba(255, 255, 255, 0.7);
    padding: 2rem; 
    &--text{
      margin: 0 auto;
      max-width: 50vh;
      display:block;
      padding: .5rem;
    }
    &-footer{
      margin-top: 6rem;
    }
  }
}

.functions {
  text-align: center;
  background-image: url("/images/tree_bark.png");
  
  &-content {
    &-column {
      position: relative;
      display: inline-block;
      width: 100%;
      z-index: 1;
      &--text {
        position: absolute;
        top: 30%;
        padding: 0 1rem;
        opacity: 0;
        
      }
      &:hover{
        animation: mobile-btn-fade-in .5s ease-in forwards; 
      }
    }
  }
}





@media #{$breakpoint-smartphone}{
    .header {
    &-wrapper {
      text-align: center;

    }
    &-content {
      max-width: 30vh;
      transform: translate(0, 20vh);
      display: inline-block;
      &--title{
        font-size: 1.8rem;
        color: $royalblue;
        font-weight: $bold;
      }
    }
    &-footer {
      background-color: $lightblue;
      padding: 5vh 2vh 7vh 2vh;
      color: $royalblue;
      text-align: center;

      &--text {
        font-weight: $bold;
        font-size: 1.2rem;
        max-width: 380px;
        display: block;
        margin: 0 auto;
      }

    }
  }


  .about {
    padding: 10rem 0 4rem 0;
    &-wrapper{
      font-size: 1.2rem;
    }
    &-content{
      &--text {
        max-width: 60vh;
      }
    }
  }
}
 
 

@media #{$breakpoint-tablet}{
  .navbar {
    &-content {
      display: block;
      float: right;
      &-mobile {
        display: none;
      } 
      &-desktop {
        display: block;
        margin-right: .5rem;
        float: right;
        
      } 
    }
  }
  
  .header {
    &-wrapper {
      text-align: center;

    }
    &-content {
      max-width: 30vh;
      transform: translate(0, 20vh);
      display: inline-block;
      &--title{
        font-size: 1.8rem;
        color: $royalblue;
        font-weight: $bold;
      }
    }
    &-footer {
      background-color: $lightblue;
      padding: 5vh 2vh 7vh 2vh;
      color: $royalblue;
      text-align: center;

      &--text {
        font-weight: $bold;
        font-size: 1.2rem;
        max-width: 380px;
        display: block;
        margin: 0 auto;
      }
    }
  }

  .about {
    &-wrapper{
      font-size: 1.4rem;
    }
    &-content{
      &--text{
        letter-spacing: .03rem;
      }
    }
  }
  
  .functions {
    
    &-content {
      
      &-column {
        max-width: 49%;
      } 
    }
  }
} 
 
 
@media #{$breakpoint-desktop}{
  .header {
    &-wrapper {
      text-align: center;

    }
    &-content {
      max-width: 40vh;
      transform: translate(0, 20vh);
      display: inline-block;
      &--title{
        font-size: 2.8rem;
        color: $royalblue;
        font-weight: $bold;
      }
    }
    &-footer {
      background-color: $lightblue;
      padding: 5vh 2vh 5vh 2vh;
      color: $royalblue;
      text-align: center;
      box-sizing: border-box;

      &--text {
        font-weight: $bold;
        font-size: 1.6rem;
        max-width: 420px;
        display: block;
        margin: 0 auto;
        
      }
      &--logo {
        display: inline-block;
        margin-top: 2rem; 
      }
    }
  }
  
  .functions {
    
    &-content {

      &-column {
        max-width: 24.7%;
      }
    }
  } 
}


.fa-arrow-down:before {
  font-size: 2rem;
  padding: 1rem;
  border: 3px solid $royalblue;
  border-radius: 100%;
}

.fa-arrow-down {
  animation: moving-arrow 2s linear 1s infinite;
}

.fa-plus-circle:before, .fa-calculator:before, .fa-calendar:before, .fa-check:before {
  position: relative;
  font-size: 10rem;
  color: $royalblue;
  display: block;
  padding: 3rem 0;
}

hr {
  margin: 0;
}







.navbar-visible {
    display: block; 
    animation: slider-down .5s forwards;
    z-index: 1;
}

.invisible {
  visibility: hidden;
}

.fade-in {
  animation: fade-in-text .5s ease-in forwards;
}

.background-fade-in {
  background-color: $blue;
}







