* {
  box-sizing: border-box;
}

.navbar {
  position: fixed;
  width: 100%;
  background-color: $green;
  z-index: 10;
  padding: .5rem 0;
  
  &-brand {
    color: $royalblue;
    float: left;
    margin-left: 1rem;
    &--text {
      margin: 0;
      font-size: 2rem;
      
    }
  }
  
  &-content {
    &-mobile {
      color: $royalblue;
      float: right;
      font-size: 2.4rem;
/*      margin-top: .4rem;*/
      margin-right: .8rem;
      margin-top: -.1rem;
    }
    
    &-desktop {
      position: relative;
      display: none;
    }
    &-mobile--list {
      display: none;
    }
  }
} 

.header {
  &-wrapper {
    background-image: url("/images/tree_bark.png");

    height: 100%;
    min-width: 100%;
    
    text-align: center;
    
  }
  &-content {
    max-width: 30vh;
    transform: translate(0, 20vh);
    display: inline-block;
    &--title{
      font-size: 1.8rem;
      color: $royalblue;
      font-weight: $bold;
    }
  }
  &-footer {
    position: absolute;
    bottom: 0;
    background-color: $lightgreen;
    padding: 5vh 1vh;
    color: $royalblue;
    text-align: center;
    border-bottom: $container-border;
    width: 100%;
    

    &--text {
      font-weight: $bold;
      font-size: 1.2rem;
      display: inline-block;
    }
    
    &--logo {
      margin-top: 2rem;
    }
    
  }
}

.about {
  background-color: $light;
  border-bottom: $container-border;
  color: $royalblue;
  font-size: 1.1rem;
  &-wrapper{
    margin: 0 auto;
    text-align: center;
  }
  &-content{
    padding: 2rem; 
    &--text{
      margin: 0 auto;
      display:block;
      max-width: 400px;
      padding: .5rem;
    }
  }
}

.functions {
  position:relative;
  text-align: center;
  background-image: url("/images/tree_bark.png");
  &-header{
    padding: 4rem;
    background-color: rgba(0, 0, 0, 0.3);
    color: $royalblue;
    font-size: 1.8rem;
    &--text {
      margin: 0;
    }
  }
  
  &-content {
    position: relative;
    &-column {

    }
  }
}





@media #{$breakpoint-smartphone}{
    .header {
    &-wrapper {
      text-align: center;

    }
    &-content {
      max-width: 30vh;
      transform: translate(0, 20vh);
      display: inline-block;
      &--title{
        font-size: 1.8rem;
        color: $royalblue;
        font-weight: $bold;
      }
    }
    &-footer {
      background-color: $lightgreen;
      padding: 5vh 2vh 7vh 2vh;
      color: $royalblue;
      text-align: center;

      &--text {
        font-weight: $bold;
        font-size: 1.2rem;
        max-width: 380px;
        display: block;
        margin: 0 auto;
      }

    }
  }
}

/*  .about {
    &-wrapper{

    }
    &-content{

    }
  }
} */
 

@media #{$breakpoint-tablet}{
  .navbar {
    &-content {
      display: block;
      float: right;
      &-mobile {
        display: none;
      } 
      &-desktop {
        display: block;
        margin-right: .5rem;
        float: right;
        
        &-button {
          float: right;
          padding: .5rem .8rem;
          text-decoration: none;
          color: $royalblue;
          &:hover {
            background-color: $lightgreen;
          }
        }
      } 
    }
  }
  
  .header {
    &-wrapper {
      text-align: center;

    }
    &-content {
      max-width: 30vh;
      transform: translate(0, 20vh);
      display: inline-block;
      &--title{
        font-size: 1.8rem;
        color: $royalblue;
        font-weight: $bold;
      }
    }
    &-footer {
      background-color: $lightgreen;
      padding: 5vh 2vh 7vh 2vh;
      color: $royalblue;
      text-align: center;

      &--text {
        font-weight: $bold;
        font-size: 1.2rem;
        max-width: 380px;
        display: block;
        margin: 0 auto;
      }
    }
  }

  .about {
    &-wrapper{

    }
    &-content{

    }
  }
  
  .functions {
    position: absolute;
    width: 100%;
    &-content {
      &-column {
        display: inline-block;
        float: left;
        min-width: 50%; 
      } 
    }
  }
} 


@media #{$breakpoint-desktop}{
  .header {
    &-wrapper {
      text-align: center;

    }
    &-content {
      max-width: 40vh;
      transform: translate(0, 20vh);
      display: inline-block;
      &--title{
        font-size: 2.8rem;
        color: $royalblue;
        font-weight: $bold;
      }
    }
    &-footer {
      background-color: $lightgreen;
      padding: 5vh 2vh 5vh 2vh;
      color: $royalblue;
      text-align: center;
      box-sizing: border-box;

      &--text {
        font-weight: $bold;
        font-size: 1.6rem;
        max-width: 420px;
        display: block;
        margin: 0 auto;
        
      }
      &--logo {
        display: inline-block;
        margin-top: 2rem; 
      }
    }
  }
  
  .functions {
    &-content {
      max-width: 100%;
      position: relative;
      &-column {
        display: inline-block;
        float: left;
        position: relative;
        min-width: 25%; 
      }
    }
  } 
}


.fa-arrow-down:before {
  font-size: 2rem;
  padding: 1rem;
  border: 3px solid $royalblue;
  border-radius: 100%;
  background-color: $green; 
}

.fa-plus-circle:before, .fa-calculator:before, .fa-calendar:before, .fa-check:before {
  position: relative;
  font-size: 10rem;
  color: $royalblue;
  display: block;
  padding: 3rem 0;
}

hr {
  margin: 0;
}






