<% include ./partials/header %>


<header class="header">
<!--  <picture>
    <img src="/public/images/bench-accounting.jpg">
  </picture>-->
  
  

  <nav class="navbar">  
    <div class="navbar-content">
      <div class="navbar-content-desktop">
        <div class="navbar-content-desktop--list">
          <ul>
            <li>Aplikacja</li>
            <li>Kontakt</li>
            <li>Logowanie</li>
          </ul>
        </div>
      </div>
      <div class="navbar-content-mobile">
        <i class="fa fa-bars" aria-hidden="true"></i>
        <div class="navbar-content-mobile--list">
          <ul>
            <li>Aplikacja</li>
            <li>Kontakt</li>
            <li>Logowanie</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="navbar-brand">
      <h1 class="navbar-brand--text">MinimaNote</h1>
    </div>
  </nav>
  <div class="header-wrapper">
    <div class="header-content">
      <p class="header-content--title">Cieszymy się, że jesteś z nami!</p>
    </div>
    <div class="header-footer">
      <p class="header-footer--text">Zjedź niżej i zobacz co dla Ciebie przygotowaliśmy!</p>
    </div>
  </div>
</header>

<article class="about">
  <div class="about-wrapper">
    <div class="about-content">
      
    </div>
  </div>
</article>


<% include ./partials/footer %>