<% include ./partials/header %>


<header>
<!--  <picture>
    <img src="/public/images/bench-accounting.jpg">
  </picture>-->
  
  

  <nav class="navbar">  
    <div class="navbar-content">
      <div class="navbar-content-desktop">
        <div class="navbar-content-desktop--list">
          <ul>
            <li>Aplikacja</li>
            <li>Kontakt</li>
            <li>Logowanie</li>
          </ul>
        </div>
      </div>
      <div class="navbar-content-mobile">
        <i class="fa fa-bars" aria-hidden="true"></i>
        <div class="navbar-content-mobile--list">
          <ul>
            <li>Aplikacja</li>
            <li>Kontakt</li>
            <li>Logowanie</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="navbar-brand">
      <h1 class="navbar-brand--text">MinimaNote</h1>
    </div>
  </nav>
    <img class="header-picture" src="images/notepad--large-min.jpg">
</header>

<article>
  <div class="container">
    <div class="container-background-picture">
      <img src="">
    </div>
  </div>
</article>


<% include ./partials/footer %>