<% include ./partials/header %>


<header>
<!--  <picture>
    <img src="/public/images/bench-accounting.jpg">
  </picture>-->
  <div class="brand">
    <h1>MinimaNote</h1>
  </div>
  <nav>
    <div class="navbar">
      <ul class="nav-content">
      <li>Aplikacja</li>
      <li>Kontakt</li>
      <li>Logowanie</li>
      </ul>
    </div>
  </nav>
</header>


<% include ./partials/footer %>