<% include ./partials/header %>


<header class="header">
<!--  <picture>
    <img src="/public/images/bench-accounting.jpg">
  </picture>-->
  
  

  <nav class="navbar">  
    <div class="navbar-content">
      <div class="navbar-content-desktop">
        <a href="#" class="navbar-content-desktop-button">Aplikacja</a>
        <a href="#" class="navbar-content-desktop-button">Kontakt</a>
        <a href="#" class="navbar-content-desktop-button">Logowanie</a>
      </div>
      <div class="navbar-content-mobile">
        <i class="fa fa-bars" aria-hidden="true"></i>
        <div class="navbar-content-mobile--list">
          <ul>
            <li>Aplikacja</li>
            <li>Kontakt</li>
            <li>Logowanie</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="navbar-brand">
      <h1 class="navbar-brand--text">MinimaNote</h1>
    </div>
  </nav>
  <div class="header-wrapper">
    <div class="header-content">
      <p class="header-content--title">Cieszymy się, że jesteś z nami!</p>
    </div>
    <div class="header-footer">
      <p class="header-footer--text">Zjedź niżej i zobacz co dla Ciebie przygotowaliśmy!</p>
      <i class="header-footer--logo fa fa-arrow-down" aria-hidden="true"></i>
    </div>
  </div>
</header>

<article class="about">
  <div class="about-wrapper">
    <div class="about-content">
      <p class="about-content--text">Rozejrzyj się dookoła...</p>
      <p class="about-content--text">Być może widzisz przestrzeń zagraconą setką przedmiotów</p>
      <p class="about-content--text">A może wszystko jest w idealnym porządku, ale szafki masz zapchane tysiącami bibelotów?</p>
      <p class="about-content--text">Jeżeli tak, to MinimaNote może Ci pomóc!</p>
    </div>
  </div>
</article>

<article class="functions">
  <div class="functions-header">
    <h3 class="functions-header--text">Poznaj funkcje MinimaNote!</h3>
  </div>
  <div class="functions-content">
    <div class="functions-content-column">
      <i class="fa fa-plus-circle" aria-hidden="true"></i>
      <hr>
    </div>   
    <div class="functions-content-column">
      <i class="fa fa-calculator" aria-hidden="true"></i>
      <hr>
    </div>
    <div class="functions-content-column">
      <i class="fa fa-calendar" aria-hidden="true"></i>
      <hr>
    </div>
    <div class="functions-content-column">
      <i class="fa fa-check" aria-hidden="true"></i>
    </div>
  </div>
  
</article>


<% include ./partials/footer %>