<html>
  <head>
    <title>Welcome - MinimaNote</title>
    <link type="text/css" rel="stylesheet" href="css/landing.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400&amp;subset=latin-ext" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>

    <div class="container">
        <h1>MinimaNote</h1>
        <h3>Sprawdź czego używasz i żyj prościej!</h3>
        <form action="/minimanote" method="get">
        <button>Zaczynajmy!</button>
        </form>
    </div>

<% include ./partials/footer %>